.hero-section {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

#projects {
    text-align: center;
    margin-bottom: 50px;
}

img {
    height: 200px;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.about-section {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
 
.contact-section {
    text-align: center;
}





